*.json
*.pdf
*.accdb
.idea
*.jar
*.war
*.ear
*.class
*.iml
DocusignAPIHandler/.gradle
Welding*Material*Control*Logs/**
Welder*Matrix/**
Welder*Continuity/**
Weld*Process*Reports/**
Reference*Documents/**
Receiving/**
Previous*Versions/**
HTML/**
